*{
    
    color: white;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.container{
    height: 800px;
    width: 800px;
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(8, 1fr);
}

.white{
    background-color: white;
}

.brown{
    background-color: brown;
}