.container{
    height: 200px;
    width: 200px;
    background-color: aqua;
    /* background-color: orange; */
    /* box-shadow: -10px 10px 4px 5px blanchedalmond; */
    /* box-shadow: inset 10px 10px 5px blue; */

    /* background-color: yellow;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 10px red; */

    /* overflow: hidden; */
    overflow: scroll;

}

/* box shadow shortcut:- offset-x offset-y blur radius spread-radius */