/* *{
    margin:0px;
    padding:0px;
} */


h2{
    background-color: orange;
    position: relative;
    top: 50px;
    /* left: 30px;
    right: 40%;
    bottom: 30px; */
    z-index: 15;
}

h3{
    position: fixed;
    top:0px;
    left: 100px;
    background-color: pink;
    z-index: 20;
}


h4{
    background-color: brown;
    position: sticky;
    top: 0px;
}

p{
    background-color: chartreuse;
    position: absolute;
    left: 50px;
    top: 0px;
    margin: 0px;

}