.container{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
    height: 400px;
    width: 600px;
    background-color: blanchedalmond;
    font-size: 15px;
    gap: 10px;



}
 
.header{
  grid-column: 1/4;
  align-items: center;
  background-color: rgb(189, 242, 242);
}

.sidebar{
    background-color: brown;
}